@import "../App.scss";

nav {
  padding: 60px 30px 0px 30px;
  height: 100vh;
  flex: var(--sidebar-flex);
  background: rgb(34, 38, 41);
  background: linear-gradient(
    190deg,
    rgba(34, 38, 41, 1) 60%,
    rgba(97, 137, 47, 1) 90%
  );
  @media screen and (max-width: 50rem) {
    font-size: 1.5rem;
    display: block;
    padding: 60px 30px 0px 30px;
  }
}
.nav-items {
  font-size: var(--fontsize-nav);
  text-align: center;
  list-style-type: none;
  @media screen and (max-width: 50rem) {
    display: none;
  }
}
nav .nav-items li {
  margin: 40px;
}

li:active {
  font-weight: bolder;
}
a:hover {
  color: #86c232;
}
li a {
  color: white;
  text-decoration: none;

  @media screen and (max-width: 50rem) {
    a.icon {
      background: black;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
input#button {
  display: none;
}
@media screen and (max-width: 50rem) {
  nav[role="custom-dropdown"] {
    ul {
      display: none;
      height: 100%;
    }

    label {
      position: fixed;
      right: 1rem;
      top: 0.5rem;
      width: 1.75rem;
      height: 1.375rem;
      cursor: pointer;
    }

    label:after {
      position: absolute;
      right: 0.25em;
      top: 0;
      content: "\2261";
      color: white;
      font-size: 1.8em;
      z-index: 60;
    }
    input#button {
      display: none;
    }

    // input[type="checkbox"]:checked ~ label:after {
    //   color: rgb(206, 206, 206);
    // }

    input[type="checkbox"]:checked ~ ul {
      display: flex;
      right: 0;
      top: 4rem;
      overflow-x: scroll;
      > li {
        width: 100%;
        text-align: left;
        color: black;

        &:after {
          position: absolute;
          right: 0.25em;
        }
        a {
          font-size: 1rem;
          color: white;
        }
      }
    }
  }
}
