@import "../App.scss";

.content {
  padding: 100px;
  background-color: #f4f5f9;
  flex: var(--condiv-flex);
}
.subtopic {
  margin: 10px 10px 30px 10px !important;
}
p {
  font-size: var(--fontsize-p);
}
h1,
h2,
h3,
h4,
p {
  margin: 10px;
}
