@import "../App.scss";

.profile-info {
  padding: 100px;
  background-color: #f4f5f9;
  flex: var(--condiv-flex);
  @media screen and (max-width: 50rem) {
    padding: 50px;
  }
}
.profile-content {
  display: flex;
  flex-direction: column;
}
.profilepic {
  margin: 0 auto;
  @media screen and (max-width: 60rem) {
    width: 250px;
    height: 250px;
    margin: 0 auto;
  }
}

.typingeffect {
  padding-top: 1rem;
  margin: 0 auto;
  font-size: 3rem;
}
